source \\itpmedia\Media\NuGet
source https://api.nuget.org/v3/index.json
framework >= net45


group Main
source https://www.nuget.org/api/v2

nuget IntelliFactory.Core
nuget IntelliFactory.Xml 
nuget WebSharper >= 3.6.10.230
nuget WebSharper.UI.Next
nuget Mono.Cecil
nuget Fuchu